* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  
  width: 100%;
  padding: 20px 8%;
  color: black;
}
#logo{
  font-size: 1,5rem;
  color: cyan;
font-size: 600;
}
.navbar {
  width: 100%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_lista {
  display: flex;
  list-style: none;
  gap: 80px;
  text-transform: uppercase;
}


.nav_item{
  font-size: 25px;
  color: deeppink;
}