* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  
  width: 100%;
  padding: 20px 8%;
  color: black;
}
#logo{
  font-size: 1,5rem;
  color: cyan;
font-size: 600;
}
.navbar {
  width: 100%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_lista {
  display: flex;
  list-style: none;
  gap: 80px;
  text-transform: uppercase;
}


.nav_item{
  font-size: 25px;
  color: deeppink;
}


.nav_item:hover{
background-color: rgb(171, 8, 241);
color: greenyellow;
text-decoration: underline;
}

.home {
  display: flex;
  min-height: calc(100vh - 91px);
  
}
section01{
  width: 100%;
padding: 20px 8%;
display: flex;
}
.titulo{
  font: size 4rem;
  color: rgb(250, 10, 10);
  justify-content: center;
}
.titulocor{
color: rgb(179, 121, 255);
}